<h3>Work Time during Lectures Calculator</h3>

<div>
    <label for="startDate">Vorlesungszeitraum Anfang</label>
    <input type="date" id="startDate" @bind="@StartDate" />
    <label for="endDate">Vorlesungszeitraum Ende</label>
    <input type="date" id="endDate" @bind="EndDate" />
</div>
<button disabled="@(StartDate == null || EndDate == null)" @onclick="Refresh">Refresh</button>
@if (Cal != null)
{
    <div>
        Tage im Vorlesungszeitraum: @Cal!.Days
    </div>
    <div>
        Werktage pro Woche: <input type="number" @bind="Cal.WorkDaysPerWeek" />
    </div>
    <div>
        Stunden pro Tag: <input type="number" @bind="Cal.FullTimeHoursPerWorkDay" />
    </div>
    <div>
        <h5>Vorlesungen</h5>
        <div class="pl-md-3 col-md-6 col-lg-4">
            @foreach (var (lecture, weeklyHours) in Cal.LectureWeeklyHours)
            {
                <div>@lecture: <span class="float-right">@weeklyHours<span class="oi oi-x" @onclick="@(() => Cal.LectureWeeklyHours.Remove(lecture))"></span></span></div>
            }
            <div>
                <input type="text" placeholder="Vorlesung/Praktikum/etc." @bind="NewLectureName" /> - <input type="number" placeholder="SWS" @bind="NewLectureSws" /><button disabled="@(NewLectureName == null || NewLectureSws == null)" @onclick="AddLecture">Hinzufügen</button>
            </div>
        </div>
    </div>
    <div>
        Semesterwochenstunden (SWS, Vorlesungsstunden pro Woche): @Cal.WeeklyLearningHours
    </div>
    <div>
        Feier- oder Urlaubstage: <input type="number" @bind="Cal.HolidaysDuringLectureFreeTimes" />
    </div>
    <div>
        <h5>Vorlesungsfreie Zeiten</h5>
        <div class="pl-md-3">
            @foreach (var (start, end) in Cal.LectureFreeTimes)
            {
                <div>@start.ToShortDateString() - @end.ToShortDateString()<span class="oi oi-x" @onclick="(() => Cal.LectureFreeTimes.Remove((start, end)))"></span></div>
            }
            <div>
                <input type="date" placeholder="Von" @bind="FreeTimeStart" /> - <input type="date" placeholder="Bis" @bind="FreeTimeEnd" /><button disabled="@(FreeTimeStart == null || FreeTimeEnd == null)" @onclick="AddNewLectureFreeTime">Hinzufügen</button>
            </div>
        </div>
    </div>
    <div>
        Gesamtstunden während des Semesters: @Cal.OverallHoursDuringSemester
    </div>
    <div>
        Dessen Äquivalent in Vollzeittagen: @Cal.OverallEquivalentFulltimeDaysDuringSemester
    </div>
    <div>
        Zusätzliche Arbeitsstunden außerhalb des Semesters: <input type="number" @bind="Cal.AdditionalWorkHoursOutsideSemester" />
    </div>
    <div>
        Gesamtstunden: @Cal.OverallWorkHours
    </div>
    <div>
        Dessen Äquivalent in Vollzeittagen: @Cal.OverallEquivalentFulltimeDays
    </div>
}

@code {
    private DateTime? StartDate { get; set; } = new DateTime(2021, 10, 11);
    private DateTime? EndDate { get; set; } = new DateTime(2022, 2, 28);
    private LectureCal? Cal { get; set; }
    private DateTime? FreeTimeStart { get; set; }
    private DateTime? FreeTimeEnd { get; set; }

    private void Refresh()
    {
        Cal = new LectureCal(StartDate!.Value, EndDate!.Value);
    }

    private string? NewLectureName { get; set; }
    private int? NewLectureSws { get; set; }
    private void AddLecture()
    {
        if (NewLectureName != null && NewLectureSws.HasValue)
        {
            Cal!.LectureWeeklyHours[NewLectureName] = NewLectureSws.Value;
            NewLectureName = null;
            NewLectureSws = null;
        }
    }

    private void AddNewLectureFreeTime()
    {
        if (FreeTimeStart.HasValue && FreeTimeEnd.HasValue)
        {
            Cal!.LectureFreeTimes.Add((FreeTimeStart.Value, FreeTimeEnd.Value));
            FreeTimeStart = null;
            FreeTimeEnd = null;
        }
    }
}
